---
import Button from '../components/Button.astro';
import ButtonA from '../components/ButtonA.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-size-5 text-neutral-900 text-bold mb-space-s">Template Astro v5 With Sass</h1>
	<p class="fw-semi-bold mb-space-m">Plantilla para desarrolo web con design tokens</p>
	<Button type="primary" text="Button tag button" class={"px-space-s py-space-2xs rounded-sm"}></Button>
	<ButtonA type="primary" text="Button tag a" class={"px-space-s py-space-2xs rounded-sm"}></ButtonA>
</Layout>
