---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="mb-space-m text-size-5 color-primary-800 fw-bold">Template Astro v5 With Sass</h1>
	<Button type="primary" text="Click me" class={"px-space-s py-space-2xs rounded-sm"}></Button>
</Layout>
