@use "../abstracts/tokens" as Tokens;

@each $seed-primary, $shade-map in Tokens.$colors-light {
  @each $shade, $value in $shade-map {
    .bg-#{$seed-primary}-#{$shade} {
      --_bg: var(--#{$seed-primary}-#{$shade});
      background-color: var(--_bg);
    }

    .text-#{$seed-primary}-#{$shade} {
      color: var(--#{$seed-primary}-#{$shade});
    }
  }
}
