//https://piccalil.li/blog/how-i-build-a-button-component/
@use "../abstracts" as *;
@use "../abstracts/alias-tokens" as AliasTokens;
@use "../abstracts/mixins" as Mixins; 

.btn {
  @include Mixins.generate-css-variables(AliasTokens.$button, "button-");
  border: var(--button-border-width);
  color: var(--button-color-text);
  background-color: var(--button-color-bg);
  display: inline-flex;
  align-items: center;
  gap: var(--button-spacing-gap,0.5em);
  padding: var(--button-spacing-padding,0.7em 1.2em);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius-border);
  
  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: sans-serif;
  line-height: 1.1;
  cursor: pointer;

  & svg {
    height: var(--button-icon-size, 1.2cap);
    width: auto;
    flex: none;
  }

  &:hover {
    background: var(--button-color-hover-bg);
    color: var(--button-color-hover-text);
  }
  
  &:focus {
    outline-width: var(--button-outline-width, var(--button-border-width));
    outline-style: var(--button-outline-style, var(--button-border-style));
    outline-color: var(--button-outline-color, var(--button-border-color));
    outline-offset: var(
      --button-outline-offset,
      calc(var(--button-border-width) * 2)
    );
  }

  &:active{
    transform: scale(98%);
  }

  &[data-type="primary"] {
   --button-color-bg:var(--neutral-900);
   --button-color-text:var(--neutral-50);
   --button-border-color:var(--neutral-900);
   --button-color-hover-bg:var(--neutral-800);
   --button-color-hover-text:var(--neutral-50);
  }

  &[data-type="ghost"] {
    --button-color-bg:transparent;
    --button-color-text:var(--neutral-900);
    --button-border-color:currentColor;
    --button-color-hover-bg:var(--neutral-900);
    --button-color-hover-text:var(--neutral-50);
  }
}
